* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

:root {
    --clr: #222327;
}

header {
    width: 980px;
    height: 100px;
    background: #ffffff;
}

.container {
    width: 980px;
    margin: 0 auto;
    
}

header .headerImg {
    float: left;
    width: 163.3px;
    height: 100px;
}

/* ----------------------------- */

.menu {
    width: 980px;
    height: 60px;
    background: #12254e;
    margin-bottom: 5px;
    position: relative;
    border-radius: 10px;

}

.navMenu {
    position: absolute;
    width: 980px;
    height: 55px;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMenu .list {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    width: 130px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
}

.navMenu .list .text-span{
    font-size: 13px;
}

.navMenu .list:hover {
    color: #fddb3a;
}

.navMenu .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* ----------------------------- */

.banner img {
    max-width: 980px;
}

/* ---------------------------- */

article h3 {
    text-align: center;
    padding: 15px 0;
    color: #272f54;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

/* ------------------------ */

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 200px;
    height: 40px;
    margin-left: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flex {
    line-height: 40px;
    background-color: #dbc1ca;
    position: relative;
    width: 200px;
    height: 40px;
}

/*Thiết lập style cho thẻ ul*/
.flex ul {
    display: flex;
    padding: 0;
    margin: 0;
    box-shadow: 0 5px 10px 0 #ce9e9e;
}

/*thiết lập style cho thẻ li*/
.flex ul .items {
    flex: 1;
    list-style: none;
    text-align: center;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: #65bcc9;
}

.activeNav {
    color: #fddb3a;
}

/*tạo hiệu ứng hover cho thẻ li */
.flex ul li:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: #65bcc9;
}

/* ------------------------ */

.footer {
    margin-top: 0px;
    float: right;
}

.footer footer {
    width: 980px;
    background: #272f54;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

footer h4 {
    color: #ccc;
}

/* ----------------------------- */

/* ------------------------------------------------------ */

.container-fillter .container-fillter-custom article .grid-view-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-fillter .container-fillter-custom article .grid-view-filter .list-filter .item-filter-grid img{
    width: 300px;
    height: 453px;
    border-radius: 10px;
    margin-top: 15px;
}

.container-fillter .container-fillter-custom article .grid-view-filter .list-filter .item-filter-grid img:hover{
    opacity: 0.2;
}